@model ClassLibrary.User

<section class="wrapper style1">
    <div class="container">
        <div id="content">
            <h2>Регистрация</h2>
            <div class="alert alert-danger hidden" role="alert" id="errors">
                <p id="null-error">Поля "Электронная почта", "Пароль", "Фамилия" и "Имя" обязательны для заполнения!</p>
                <p id="email-error">Длина поля "Электронная почта" не должна превышать 30 символов!</p>
                <p id="pwd-error">Длина поля "Пароль" должна быть не менее 5 символов!</p>
                <p id="sname-error">Длина поля "Фамилия" не должна превышать 25 символов!</p>
                <p id="name-error">Длина поля "Имя" не должна превышать 25 символов!</p>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true)

                    <div class="form-group">
                        @Html.Label("Электронная почта", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Email)
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Пароль", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.PasswordFor(model => model.Password)
                            @Html.ValidationMessageFor(model => model.Password)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Фамилия", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Surname)
                            @Html.ValidationMessageFor(model => model.Surname)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Имя", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Отчество", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Patronymic)
                            @Html.ValidationMessageFor(model => model.Patronymic)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Пол", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.RadioButtonFor(model => model.Gender, true) М
                            @Html.RadioButtonFor(model => model.Gender, false) Ж
                            @Html.ValidationMessageFor(model => model.Gender)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Дата рождения", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.BirthDate)
                            @Html.ValidationMessageFor(model => model.BirthDate)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Адрес проживания", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Address)
                            @Html.ValidationMessageFor(model => model.Address)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Контакты", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Contacts)
                            @Html.ValidationMessageFor(model => model.Contacts)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Зарегистрироваться" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<script src="/Scripts/Auth.js"></script>
<script>
    $('#BirthDate').datepicker({
        dateFormat: "yy-mm-dd"
    });

    $('form').on('submit', function (e) {
        if (regDataIsValid(1)) {
            postRegister();
        } else {
            e.preventDefault();
        }
    });
</script>